.button {

    font-size: 20px;
    display: inline-block;
    background-color: rgb(235, 235, 36);
    box-shadow: 5px 5px 0 black;
    padding:  18px 20px;  
    margin-right: 0;  
    transition: transform 100ms linear;    
    color: white; 
    text-decoration: none;
}

.button:hover {
    transform: scale(1.08);
    flex-direction: column;
    width: 640px;

}

.banner .navigation {
    display: flex;
    justify-content: space-around;
    
}

