.title{

    font-size: 40px;
    font-family: 'Press Start 2P', sans-serif ;
    text-shadow: 4px 4px 0 black;
    color: yellow
}

.title.-second {

  color: black;
  text-shadow: none;
  text-align: center;
}